<!doctype html>
<html lang="tr">
  <%- include("../partials/head", { title }) %>
  <body>
    <%- include("../partials/navbar") %>
    <%- include("../" + view) %>
    <%- include("../partials/scripts") %>
  </body>
</html>
