<main class="app-shell">
  <section class="task-form-column">
    <%- include("components/taskForm") %>
  </section>

  <section class="task-board-column">
    <%- include("components/taskTabs") %>
  </section>
</main>
