<div class="tab-pane fade" id="errorsPane">
  <div class="toolbar">
    <h2>Sistem hataları</h2>
    <span class="live-indicator" id="errorLiveState">live</span>
  </div>
  <div class="error-summary mb-3" id="errorSummary"></div>
  <div id="errors" class="log-viewer"></div>
</div>
