<div class="tab-pane fade show active" id="tasksPane">
  <div class="toolbar">
    <h2>Tasklar</h2>
    <span class="live-indicator" id="taskLiveState">live</span>
  </div>
  <div id="tasks" class="tasks"></div>
  <div id="taskPager" class="mt-3"></div>
</div>
