<div class="tab-pane fade show active" id="tasksPane">
  <div class="toolbar">
    <h2>Tasklar</h2>
    <button class="btn btn-outline-secondary btn-sm" id="refreshBtn">Yenile</button>
  </div>
  <div id="tasks" class="tasks"></div>
</div>
